= form_for @sit, url: "/sits/#{@sit.id}", method: :put do |f|
	= f.label "Date of sit"
	= f.date_field :date
	= f.label "Start Time"
	= f.time_field :start_time
	= f.label "End Time"
	= f.time_field :end_time
	= f.label "Status"
	= f.select :status, options_for_select(['SENT', 'WITHDRAWN'])
	= f.submit "EDIT"
