%h2 Sits List
.col-lg6.col-md-6.col-sm-6.col-sm-offset-3.col-md-offset-3.col-lg-offset-3
  = link_to 'Add New Sit', new_sit_path, class: "btn btn-default green"
  %br
  %br

  - @sits.each do |s|
    .green-border
      Date of sit:
      = s.date
      %br
      Start time:
      = s.start_time
      %br
      End time:
      = s.end_time
      %br
      - fam = Family.find_by_id(s.family_id)
      = fam.name unless fam.nil?
      %br
      Status:
      = s.status
      %br
    %br
    = link_to 'Edit Sit', edit_sit_path(s.id), class: "btn btn-default", method: :get

    = link_to 'Delete Sit', sit_path(s), class: "btn btn-default", method: :delete

    %br
    %br
