%h2 Sits List
.col-lg6.col-md-6.col-sm-6.col-sm-offset-3.col-md-offset-3.col-lg-offset-3
  = link_to 'Add New Sit', new_sit_path, class: "btn btn-default green"
  %br
  %br

  - @sits.each do |s|
    .col-lg12.col-md-12.col-sm12
      .col-lg8.col-md-8.col-sm-8.green-border
        Date of sit:
        = s.date
        %br
        Start time:
        = s.start_time
        %br
        End time:
        = s.end_time
        %br
        Family Name:
        - fam = Family.find(s.family_id)
        = fam.name
        %br
        Status:
        = s.status
        %br
      .col-lg4.col-md-4.col-sm-4
        = link_to 'Edit Sit', edit_sit_path(s.id), class: "btn btn-default", method: :get
        %br
        %br
        = link_to 'Delete Sit', sit_path(s), class: "btn btn-default", method: :delete
    %br
    %br
