%h2 Sits List
.col-lg6.col-md-6.col-sm-6.col-sm-offset-3.col-md-offset-3.col-lg-offset-3
  = link_to 'Add New Sit', new_sit_path, class: "btn btn-default"
  %br
  %br

  - @sits.each do |s|
    .green-border
      %br
      - fam = Family.find(s.family_id)
      %b #{fam.name} Family
      %br
      %br
      Date of sit:
      = s.date
      %br
      Start time:
      = s.start_time.strftime("%I:%M %p")
      %br
      End time:
      = s.end_time.strftime("%I:%M %p")
      %br
      Status:
      = s.status
      %br

    = link_to 'Edit Sit', edit_sit_path(s.id), class: "btn btn-default", method: :get
    %br
    = link_to 'Delete Sit', sit_path(s), class: "btn btn-default green", method: :delete
    %br
    -if s.status == 'SENT'
      = link_to "Accept Sit", "/sits/sitter_response/#{s.id}/edit", class: "btn btn-default", method: :get
    %br
    %br
    %br
