%h2 Add New Sit Request
.col-lg4.col-md-4.col-sm-4.col-sm-offset-4.col-md-offset-4.col-lg-offset-4
  .panel.form_group
    = form_for @new_sit, url: "/sits" do |s|
      = s.label "Date of sit"
      = s.date_field :date, class: "form-control"
      %br
      = s.label "Start Time"
      = s.time_field :start_time, class: "form-control"
      %br
      = s.label "End Time"
      = s.time_field :end_time, class: "form-control"
      %br
      = s.label "Family"
      = s.text_field :family_id, class: "form-control"
      %br
      = s.label "Status"
      = s.text_field :status, class: "form-control"

      .col-lg-4.col-md-4.col-sm-4.col-sm-offset-4.col-md-offset-4.col-lg-offset-4
      = s.submit "Add", class: "btn bt-default"

      %br
      %br