!!!
%html
  %head
    %title Local Sitter App
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      %a.navbar-brand{href: "/"} Local Sitters
      .navbar-header
        %button.navbar-toggle{"data-target" => "#collapse_menu", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .navbar-collapse.collapse.navbar-responsive-collapse#collapse_menu
        %ul.nav.navbar-nav
          =link_to "Sitters", sitters_path
          =link_to "Families", families_path
          =link_to "Sits", sits_path
          =link_to "Kids", kids_path
          %button.btn.btn-primary.btn-md{"data-target" => "#myModal", "data-toggle" => "modal"}
            Search Sitters
  / Modal
 
/ Modal for editing piece's metadata.

%br
%br
%br
#primary-content
  = yield

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Search Sitters!
      .modal-body
        = render "sitters/search_form"
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close


